Joe's review

The introduction that dual-stack networks don’t address the IPv4 exhaustion problem.  Fair.  But, I would argue v6 Mostly doesn’t necessarily either.  That is, you still need to reserve some IPv4 address space on the edge for NAT64 where it’s needed (i.e., IPv4-only services).  Admittedly, if, like at the IETF, you would typically assign public IPv4 addresses to clients, this does help reduce the number of v4 addresses used; but in my experience, RFC1918 is typically employed with the same need for public IPv4s at the edge.

 

In your terminology section, I would argue against your use of “corporate laptops” as an example of “routers”.  In my experience with our own laptops and customers at our events, they are very locked down.  Moreover, personal users tend to also run VMs and containers.  What about changing this to “VM/container hosts”?

 

I generally like the way Section 4.3.4 is written.  The reason we opted for DNS64 in addition to PREF64 and 108 at our event was to drive more v6 traffic, even for dual-stack hosts.  You touch on a more efficient benefit in the last paragraph, but maybe it would be good to mention the increase of v6 traffic, which can help better identify issues?

 

You also have a nit in 4.3.4: “addressed” is spelled “adressed”.

 

In Section 5.1, yes, v6 Mostly can help to reduce v4 subnet size, but in [I would argue] common practice, it doesn’t address the v4 exhaustion issue.

 

In Section 6.1, I would say something like Opt Out SHOULD be used over Opt In.  I also think requiring a problem report to Opt Out is nice (motherhood and apple pie), but often not practical.  And SHOULD NOT is strong.  Maybe “should not” even though that doesn’t really help the issue?  MAY NOT would also make me more comfortable.  My point is mainly to provide a smoother user experience perhaps at the expense of a pure v6 experience.

 

In Section 7.4, I think you need to be stronger with respect to stickiness.  You also use the word “authentication”, but I think that’s a bit misleading.  Some websites use this for session tracking, beyond any authentication flow.  Then, in the second bullet point, say, “The same NAT pool address SHOULD be assigned…”

 

I’m puzzled by Section 7.5.3.  I agree this is a thing, but it doesn’t seem to fit in this draft.  It is a problem with dual-stack as well.

 

In Section 7.5.5, you should call out the atomic fragment issue we saw at 123.  In some cases, vendors may opt to follow RFC6145’s recommendations concerning atomic fragments.  But, the updated RFC7915 deprecates them.  Using atomic fragments may cause unintended behavior on certain endpoints that employ firewalls.

 